<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.page_1.app">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/agppilogo6"
        android:label="AGPPI"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DisplayFiles.DisplayNotes"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplayNotesS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayVideosFiles"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayLinks"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplayLinksS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".admin.FeesConsolAdmin"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".admin.FeesDetails"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayNotesFiles"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplayNotesFilesS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplayVideosFilesS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayVideos"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplayVideosS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayFiles2"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".teacher.AssignmentStudentResponse"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.DisplayAssignmentStudent"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.StudentAssesment"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".HELP"
            android:label="User Manual"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.DisplaySubjectsS"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".student.About"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DisplayFiles.DisplayAssignmentF"
            android:label="Assignments "
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayAssignments"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.TeacherAssignment"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.TeacherAssesment"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.DisplayFiles"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".DisplayFiles.viewpdf"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.SubjectCodeForgetDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".MainLogin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".recycleStudent.userlistFYCO"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".item2"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".recycleFaculty.userlist"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".admin.AdminDataBase"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.TeacherForgotDetails"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.TeacherDisplay"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.StudentUpdates"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.FacultyUpdates"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".teacher.UploadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".admin.NavigationExample"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.NavigationExActivity"
            android:label="@string/title_activity_navigation_ex"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />
        <activity
            android:name=".student.StudentUpload"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".admin.admin_faculty_details"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.teacher_upload"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".admin.admin_student_details"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.student_profile"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.FirstYearStudentElearn"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.MainTeacherActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.student_menu"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".admin.admin_menu"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.TeacherProfileActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.teacher_menu"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.student_URL_verification"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".student.student_login"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".teacher.LoginTeacherActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".admin.adminlogin"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>